{% extends 'main.html' %}

{% block content %}

<div class="container">

    <div style="margin-top: 150px;">
        <div style="max-width: 800px; margin: 0 auto;" >
            <div class="text-center"><h3>Welcome to Homework AI Checker! 😊</h3></div>
            <br>
            <h4>Homework AI Checker is your ultimate companion for managing and checking your homework assignments. Whether you're a student striving for excellence or an educator guiding your students, we're here to support you every step of the way.</h4>
            <br>
            <h4>Please log in to access personalized feedback on your assignments, explore helpful resources, and engage with AI-powered tool designed to enhance your learning experience.</h4>
            <br>
            <h4>Let's ace those assignments together! 📚🚀</h4>
        </div>
    </div>

    
</div>

{% endblock content %}