{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div style="margin-top: 150px;">
        <div style="max-width: 500px; margin: 0 auto;">
            <h1>Welcome, Student!</h1>
            <ul>
                {% for file in files %}
                    <li><a href="{% url 'download_file' file.id %}">{{ file.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'check' %}"><button class="btn btn-success">Check Homework</button></a>
        </div>
    </div>
</div>

{% endblock content %}